<div class="row" style="margin-top: 20px;margin-bottom: 20px">
  <h4>
    <b>
      <div class="col-xs-3">
        Status
      </div>
      <div class="col-xs-3">
        Spedzono
      </div>
      <div class="col-xs-3">
        Nazwa
      </div>
      <div class="col-xs-3">
        Opis
      </div>
    </b>
  </h4>
</div>


<div *ngFor="let task of taskInDay?.content" class="row">
  <a data-toggle="modal" [attr.data-target]="'#' + task?.id" style="cursor:pointer" [hidden]="task.collectionValue">
    <div class="col-xs-3">
      {{task?.status}}
    </div>
    <div class="col-xs-2">
      {{task?.workedTime}} z {{task?.planningTime}}
    </div>
    <div class="col-xs-3">
      {{task?.title}}
    </div>
    <div class="col-xs-3">
      {{task?.description}}
    </div>
  </a>
    <div class="col-xs-1" [hidden]="task.collectionValue">
      <span class="glyphicon glyphicon-remove" (click)="remove(task?.id)"></span>
    </div>

  <!-- Modal -->
  <div [attr.id]="task?.id" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edytuj zadanie</h4>
        </div>
        <div class="modal-body">
          <app-task-add [task]="task"></app-task-add>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



</div>


