
<div class="col-xs-9">
<div class="row">
  <h1>
    <div class="col-xs-4 text-center">Backlog</div>
    <div class="col-xs-4 text-center rightContent">In progress</div>
    <div class="col-xs-4 text-center rightContent">Done</div>

  </h1>

</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <app-board-item></app-board-item>
  </div>
  <div class="col-xs-4">
    <app-board-item></app-board-item>

  </div>
  <div class="col-xs-4"></div>
</div>
</div>
<!--<div class="col-xs-3">-->
  <!--<app-task-add></app-task-add>-->
<!--</div>-->
