.call-margin{
  /*position: relative;top: 30%;*/
  /*transform: translateY(-50%);*/
  /*transform: translateX(40%);*/

}
.footer-div{
  /*position: absolute;*/
  margin-right: 10px;
  margin-top: 80px;

}

.call-size{
  height: 175px;
  /*width:20vw;*/
  border-radius: 5px;

}
.call-in-progress{
  background-color: #a7f3bb;

}
.call-done{
  background-color: #8af389;

}
.call-backlog{
  background-color: #b4bbf3;

}
